@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

.cor-portfolio {
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}


.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 48px;
}

.link a {
    position: relative;
    padding-bottom: 12px;
    color: #fff;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #00ca98;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 70%;
}

.btn-portfolio {
    padding: 16px 32px;
    font-size: 16px;
    color: #fff;
    background-color: #00ca98;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-portfolio:hover {
    background-color: #0ebd91;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 80px 32px;
}

header {
    position: relative;
    padding-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    align-items: center;
    gap: 32px;
}

header .content h4 {
    margin-bottom: 16px;
    color: #ccc;
    font-size: 16px;
    font-weight: 600;
}

header .content h1 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

header .content p {
    margin-bottom: 2rem;
    color: #ccc;
}

header .image {
    position: relative;
}

header .image img {
    max-width: 600px;
    margin: auto;
}

section .header {
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.learn {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 2rem;
}

.learn .card-portfolio{
    background-color: #2b2b2b;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.learn .card-portfolio:hover{
    background-color: #323232;
    border-color: #fff;
}

.learn .card-portfolio span{
    display: inline-block;
    background-color: #0ebd91;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.learn .card-portfolio h4{
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.learn .card-portfolio p{
    color: #ccc;
    margin-bottom: 1rem;
}

.learn .card-portfolio a{
    color: #fff;
    transition: all 0.3s ease;
}

.learn .card-portfolio a:hover{
    color: #0ebd91;
}


@media (width < 900px){
    .nav-links{
        display: none;
    }
    header{
        grid-template-columns: repeat(1, 1fr);
    }
    header .image{
        grid-area: 1/1/2/2;
    }
    .learn{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width < 600px){
    header .image::before{
        display: none;
    }
    .learn{
        grid-template-columns: repeat(1, 1fr);
    }
}